.bang {
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
}

.sothich {
    margin-left: auto;
    margin-right: auto;
    font-family: arial, sans-serif;
    color: #FFFFFF;
}

.dong {
    font-family: arial, sans-serif;
    text-align: right;
    color: #243CB5;
}

.hoppy {
    font-family: arial, sans-serif;
    color: #FF9261;
}

.button {
    text-align: left;
}