<h1>Thêm sách mới</h1>
<form (ngSubmit)="createBook()" [formGroup]="createBookForm">
  <table border="1" cellpadding="5">
    <tr>
      <td>Tên: </td>
      <td>Tác giả: </td>
      <td>Mô tả: </td>
      <td></td>
    </tr>
    <tr>
      <td>
        <input type="text" formControlName="title">
      </td>
      <td>
        <input type="text" formControlName="author">
      </td>
      <td>
        <textarea formControlName="description"></textarea>
      </td>
      <td>
        <button type="submit">Thêm sách</button>
        <button [routerLink]="['']">Thoát</button>
      </td>
    </tr>
  </table>
</form>
